imports:
  - { resource: vendor/ecphp/php-conventions/config/php73/grumphp.yml }

parameters:
  tasks.license.date_from: 2020
  tasks.license.holder: ECPHP
  tasks.license.name: BSD-3-Clause
  extra_tasks:
    phpspec:
      verbose: true
    infection:
      threads: 10
      test_framework: phpspec
      configuration: infection.json.dist
      min_msi: 10
      min_covered_msi: 10
